<div class="container-fluid"
     style="background-image: url('assets/img/list2.jpg');
     background-size: cover;
     background-attachment: fixed;
     min-height: 100vh;
     padding-top: 75px;
     padding-bottom: 75px;">

    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-primary font-weight-bold"
                        *ngIf="!form.data.id">
                        Add Subscription
                    </h3>

                    <h3 class="text-center text-primary font-weight-bold"
                        *ngIf="form.data.id>0">
                        Update Subscription
                    </h3>

                    <!-- SUCCESS -->
                    <div *ngIf="form.error == false && form.message"
                         class="alert alert-success alert-dismissible text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ form.message }}
                    </div>

                    <!-- ERROR -->
                    <div *ngIf="form.error && form.message"
                         class="alert alert-danger alert-dismissible text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ form.message }}
                    </div>

                    <!-- PLAN ID -->
                    <label><b>Plan Id *</b></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-id-card"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               name="planId"
                               [(ngModel)]="form.data.planId"
                               placeholder="Enter Plan Id">
                    </div>
                    <div>
                        <span class="text-danger">{{form.inputerror.planId}}</span>
                    </div>

                    <!-- PLAN NAME -->
                    <label><b>Plan Name *</b></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-tag"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               name="planName"
                               [(ngModel)]="form.data.planName"
                               placeholder="Enter Plan Name">
                    </div>
                    <div>
                        <span class="text-danger">{{form.inputerror.planName}}</span>
                    </div>

                    <!-- PRICE -->
                    <label><b>Price *</b></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-money"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               name="price"
                               [(ngModel)]="form.data.price"
                               placeholder="Enter Price">
                    </div>
                    <div>
                        <span class="text-danger">{{form.inputerror.price}}</span>
                    </div>

                    <!-- VALIDITY DAYS -->
                    <label><b>Validity Days *</b></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               name="validityDays"
                               [(ngModel)]="form.data.validityDays"
                               placeholder="Enter Validity Days">
                    </div>
                    <div>
                        <span class="text-danger">{{form.inputerror.validityDays}}</span>
                    </div>

                    <!-- BUTTONS -->
                    <div class="text-center mt-4">

                        <button *ngIf="!form.data.id"
                                (click)="submit()"
                                class="btn btn-success mr-2">
                            Save
                        </button>

                        <button *ngIf="form.data.id"
                                (click)="submit()"
                                class="btn btn-success mr-2">
                            Update
                        </button>

                        <button *ngIf="!form.data.id"
                                (click)="reset()"
                                class="btn btn-warning mr-2">
                            Reset
                        </button>

                        <button *ngIf="form.data.id"
                                (click)="forward('/subscriptionlist')"
                                class="btn btn-warning">
                            List
                        </button>

                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-4"></div>
    </div>

</div>
